<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>HARDWARIO Visual Editor</title>

  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/blocksEditor.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <script>
    var project = '<%-project%>';
    var example = '<%-example%>';
  </script>

  <div class="grid-container" id="blockly-container">
    <div>
      <div id="blocklyArea" class="area"></div>
      <div id="blocklyDiv" style="position: absolute"></div>
      <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <category name="Initialization" colour="#A50427">
        <block type="hio_application_initialize"></block>
        <block type="hio_barometerTag_initialize"></block>
        <block type="hio_battery_initialize"></block>
        <block type="hio_button_initialize"></block>
        <block type="hio_climate_initialize"></block>
        <block type="hio_co2_initialize"></block>
        <block type="hio_coreTmp112_initialize"></block>
        <block type="hio_humidityTag_initialize"></block>
        <block type="hio_lcd_initialize"></block>
        <block type="hio_led_initialize"></block>
        <block type="hio_ledStrip_initialize"></block>
        <block type="hio_logging_initialize"></block>
        <block type="hio_luxMeterTag_initialize"></block>
        <block type="hio_pir_initialize"></block>
        <block type="hio_power_initialize"></block>
        <block type="hio_radio_initialize"></block>
        <block type="hio_relay_initialize"></block>
        <block type="hio_temperatureTag_initialize"></block>
    </category>
    <category name="Task" colour="#A50427">
        <block type="hio_application_task"></block>
        <block type="hio_task_run_application_task"></block>
    </category>
    <category name="Button" colour="#1D5310">
        <block type="hio_button_event"></block>
        <block type="hio_button_publish_click_count"></block>
        <block type="hio_button_publish_hold_count"></block>
    </category>
    <category name="Radio" colour="#C54F38">
        <block type="hio_radio_send_string"></block>
        <block type="hio_radio_send_integer"></block>
        <block type="hio_radio_send_float"></block>
        <block type="hio_radio_send_boolean"></block>
    </category>
    <category name="LED" colour="#571E00">
        <block type="hio_led_blink"></block>
        <block type="hio_led_pulse"></block>
        <block type="hio_led_set_mode"></block>
    </category>
    <category name="Logging" colour="#052F38">
        <block type="hio_logging_info"></block>
        <block type="hio_logging_debug"></block>
        <block type="hio_logging_error"></block>
        <block type="hio_logging_warning"></block>
    </category>
    <category name="Core TMP112" colour="#4A0C1B">
        <block type="hio_coreTmp112_event"></block>
        <block type="hio_coreTmp112_publish_temperature_value"></block>
    </category>
    <category name="Motion Detector" colour="#5F5F0D">
        <block type="hio_pir_event"></block>
        <block type="hio_pir_publish_motion_count"></block>
    </category>
    <category name="Power Module" colour="#64391F">
        <block type="hio_power_relay_state_set"></block>
    </category>
    <category name="LCD Module" colour="#5A1AA1">
        <block type="hio_lcd_event"></block>
        <block type="hio_lcd_draw_string"></block>
        <block type="hio_lcd_draw_circle"></block>
        <block type="hio_lcd_draw_line"></block>
        <block type="hio_lcd_draw_rectangle"></block>
        <block type="hio_lcd_draw_pixel"></block>
        <block type="hio_lcd_set_power_state"></block>
        <block type="hio_lcd_clear"></block>
        <block type="hio_lcd_update"></block>
        <block type="hio_lcd_set_font"></block>
        <block type="hio_lcd_printf"></block>
        <block type="hio_lcd_led_blink"></block>
        <block type="hio_lcd_led_pulse"></block>
        <block type="hio_lcd_led_set_mode"></block>
        <block type="hio_lcd_enable_pll"></block>
        <block type="hio_lcd_disable_pll"></block>
    </category>
    <category name="Climate Module" colour="#873467">
        <block type="hio_climate_event"></block>
        <block type="hio_climate_publish_temperature"></block>
        <block type="hio_climate_publish_humidity"></block>
        <block type="hio_climate_publish_luminosity"></block>
        <block type="hio_climate_publish_barometer"></block>
    </category>
    <category name="Battery Module" colour="#125f44">
        <block type="hio_battery_event"></block>
        <block type="hio_battery_publish_voltage"></block>
        <block type="hio_battery_publish_percentage"></block>
    </category>
    <category name="CO2 Module" colour="#844F19">
        <block type="hio_co2_event"></block>
        <block type="hio_co2_publish_co2"></block>
    </category>
    <category name="Relay Module" colour="#A01D09">
        <block type="hio_relay_set_state"></block>
        <block type="hio_relay_pulse"></block>
        <block type="hio_relay_toggle"></block>
    </category>
    <category name="Temperature Tag" colour="#733794">
        <block type="hio_temperatureTag_event"></block>
        <block type="hio_temperatureTag_publish_temperature_value"></block>
    </category>
    <category name="Humidity Tag" colour="#336F87">
        <block type="hio_humidityTag_event"></block>
        <block type="hio_humidityTag_publish_humidity_value"></block>
    </category>
    <category name="Barometer Tag" colour="#AD6469">
        <block type="hio_barometerTag_event"></block>
        <block type="hio_barometerTag_publish_barometer_value"></block>
    </category>
    <category name="Lux Meter Tag" colour="#2B8C3B">
        <block type="hio_luxMeterTag_event"></block>
        <block type="hio_luxMeterTag_publish_lux_value"></block>
    </category>
    <category name="Logic" colour="#5B80A5">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Math" colour="#5B67A5">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
    </category>
    <category name="Loops" colour="#5BA65B">
        <block type="controls_repeat_ext"></block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for"></block>
    </category>
    <category name="Variables" colour="#A55B80" custom="VARIABLES"></category>
    <category name="Functions" colour="#995ba5" custom="PROCEDURE"></category>
</xml>
    </div>
    <div id="code"></div>
    <script src="/js/code-editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("code");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
    </script>
  </div>

  <script src="https://unpkg.com/blockly"></script>
  <script src="https://unpkg.com/@blockly/plugin-typed-variable-modal"></script>
  <script src="/js/blocks-json.js"></script>
  <script src="/js/blocks-editor.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <div id="message"></div>

  <input id="compileAndDownload" type="button" class="btn btn-success" value="Compile And Flash"
  onclick="parse_code();" />
  
  <div class="loader" id="loader" style="display: none;"></div>

  <button class="btn btn-warning" onclick="saveWorkspace()" id="saveWorkspaceButton">Save Workspace</button>

  <button class="btn btn-warning" onclick="exportWorkspace()">Export Workspace</button>
  <button class="btn btn-warning" onclick="createProjectFromExample()" id="createFromExampleButton">Project From Example</button>
  <label for="file-upload" class="custom-file-upload">
    Import Workspace
  </label>
  <input id="file-upload" type="file" onchange="importWorkspace()"/>
  <button class="btn btn-info" id="switchCode_button" onclick="switchCode();">Show Code</button>
  <a href="/" class="btn btn-success">Return Home</a>

</body>

</html>