<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>HARDWARIO Visual Editor</title>

  <link rel="stylesheet" href="/css/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/blocksEditor.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <script>
    var project = '<%-project%>';
    var example = '<%-example%>';
  </script>

  <div class="grid-container" id="blockly-container">
    <div>
      <div id="blocklyArea" class="area"></div>
      <div id="blocklyDiv" style="position: absolute"></div>
      <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <category name="Initialization" colour="#A50427">
        <block type="hio_application_initialize"></block>
        <block type="hio_barometerTag_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_battery_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_button_initialize"></block>
        <block type="hio_climate_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_co2_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_coreTmp112_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_floodDetector_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_humidityTag_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_initialize"></block>
        <block type="hio_led_initialize"></block>
        <block type="hio_ledStrip_initialize"></block>
        <block type="hio_logging_initialize"></block>
        <block type="hio_luxMeterTag_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_pir_initialize"></block>
        <block type="hio_power_initialize"></block>
        <block type="hio_radio_initialize"></block>
        <block type="hio_relay_initialize"></block>
        <block type="hio_temperatureTag_initialize">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Task" colour="#A50427" custom="TASK">
        <block type="hio_application_task"></block>
        <block type="hio_task_run_application_task"></block>
        <block type="hio_task_run_task_now"></block>
        <block type="hio_task_run_task_in_time"></block>
        <block type="hio_task_run_current_task_now"></block>
        <block type="hio_task_run_current_task_in_time"></block>
    </category>
    <category name="Button" colour="#1D5310">
        <block type="hio_button_event"></block>
        <block type="hio_button_publish_click_count"></block>
        <block type="hio_button_publish_hold_count"></block>
    </category>
    <category name="Radio" colour="#C54F38">
        <block type="hio_radio_send_string">
            <value name="STRING_TO_BE_SEND">
                <block type="text">
                    <field name="TEXT">STRING</field>
                </block>
            </value>
            <value name="SUBTOPIC">
                <block type="text">
                    <field name="TEXT">string</field>
                </block>
            </value>
        </block>
        <block type="hio_radio_send_integer">
            <value name="INT_TO_BE_SEND">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="SUBTOPIC">
                <block type="text">
                    <field name="TEXT">integer</field>
                </block>
            </value>
        </block>
        <block type="hio_radio_send_float">
            <value name="FLOAT_TO_BE_SEND">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="SUBTOPIC">
                <block type="text">
                    <field name="TEXT">float</field>
                </block>
            </value>
        </block>
        <block type="hio_radio_send_boolean">
            <value name="SUBTOPIC">
                <block type="text">
                    <field name="TEXT">boolean</field>
                </block>
            </value>
        </block>
    </category>
    <category name="LED" colour="#571E00">
        <block type="hio_led_blink">
            <value name="COUNT">
                <block type="math_number">
                    <field name="NUM">5</field>
                </block>
            </value>
        </block>
        <block type="hio_led_pulse">
            <value name="DURATION">
                <block type="math_number">
                    <field name="NUM">1000</field>
                </block>
            </value>
        </block>
        <block type="hio_led_set_mode"></block>
    </category>
    <category name="Logging" colour="#052F38">
        <block type="hio_logging_info"></block>
        <block type="hio_logging_debug"></block>
        <block type="hio_logging_error"></block>
        <block type="hio_logging_warning"></block>
    </category>
    <category name="Core TMP112" colour="#4A0C1B">
        <block type="hio_coreTmp112_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_coreTmp112_publish_temperature_value">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Motion Detector" colour="#5F5F0D">
        <block type="hio_pir_event"></block>
        <block type="hio_pir_publish_motion_count"></block>
    </category>
    <category name="Power Module" colour="#64391F">
        <block type="hio_power_relay_state_set"></block>
    </category>
    <category name="LCD Module" colour="#5A1AA1">
        <block type="hio_lcd_event"></block>
        <block type="hio_lcd_draw_string">
            <value name="STRING">
                <block type="text">
                    <field name="TEXT">string</field>
                </block>
            </value>
            <value name="LEFT">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="TOP">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_draw_circle">
            <value name="CENTER_X">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="CENTER_Y">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="RADIUS">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_draw_line">
            <value name="START_X">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="START_Y">
                <block type="math_number">
                    <field name="NUM">128</field>
                </block>
            </value>
            <value name="END_X">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="END_Y">
                <block type="math_number">
                    <field name="NUM">128</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_draw_rectangle">
            <value name="START_X">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="START_Y">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="END_X">
                <block type="math_number">
                    <field name="NUM">128</field>
                </block>
            </value>
            <value name="END_Y">
                <block type="math_number">
                    <field name="NUM">128</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_draw_pixel">
            <value name="LEFT">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="TOP">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_set_power_state"></block>
        <block type="hio_lcd_clear"></block>
        <block type="hio_lcd_update"></block>
        <block type="hio_lcd_set_font"></block>
        <block type="hio_lcd_printf">
            <value name="LEFT">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
            <value name="TOP">
                <block type="math_number">
                    <field name="NUM">0</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_led_blink">
            <value name="COUNT">
                <block type="math_number">
                    <field name="NUM">5</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_led_pulse">
            <value name="DURATION">
                <block type="math_number">
                    <field name="NUM">1000</field>
                </block>
            </value>
        </block>
        <block type="hio_lcd_led_set_mode"></block>
        <block type="hio_lcd_enable_pll"></block>
        <block type="hio_lcd_disable_pll"></block>
    </category>
    <category name="Climate Module" colour="#873467">
        <block type="hio_climate_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_climate_publish_temperature">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_climate_publish_humidity">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_climate_publish_luminosity">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_climate_publish_barometer">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Battery Module" colour="#125f44">
        <block type="hio_battery_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_battery_publish_voltage">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_battery_publish_percentage">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="CO2 Module" colour="#844F19">
        <block type="hio_co2_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_co2_publish_co2">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Relay Module" colour="#A01D09">
        <block type="hio_relay_set_state"></block>
        <block type="hio_relay_pulse">
            <value name="DURATION">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
        </block>
        <block type="hio_relay_toggle"></block>
    </category>
    <category name="Temperature Tag" colour="#733794">
        <block type="hio_temperatureTag_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_temperatureTag_publish_temperature_value">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Humidity Tag" colour="#336F87">
        <block type="hio_humidityTag_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_humidityTag_publish_humidity_value">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Barometer Tag" colour="#AD6469">
        <block type="hio_barometerTag_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_barometerTag_publish_barometer_value">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Lux Meter Tag" colour="#2B8C3B">
        <block type="hio_luxMeterTag_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
        <block type="hio_luxMeterTag_publish_lux_value">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Flood Detector" colour="#5B3F4F">
        <block type="hio_floodDetector_event">
            <value name="UPDATE_INTERVAL">
                <block type="math_number">
                    <field name="NUM">5000</field>
                </block>
            </value>
        </block>
    </category>
    <category name="Logic" colour="#5B80A5">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Math" colour="#5B67A5">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
    </category>
    <category name="Loops" colour="#5BA65B">
        <block type="controls_repeat_ext"></block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for"></block>
    </category>
    <category name="Text" colour="#5BA58C" custom="TEXT">
        <block type="text"></block>
    </category>
    <category name="Variables" colour="#A55B80" custom="VARIABLES"></category>
    <category name="Functions" colour="#995ba5" custom="PROCEDURE"></category>
</xml>
    </div>
    <div id="code"></div>
    <script src="/js/code-editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("code");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
    </script>
  </div>

  <script src="/js/blockly/blockly.js"></script>
  <script src="/js/blockly/typed-variable-modal.js"></script>
  <script src="/js/blocks-json.js"></script>
  <script src="/js/blocks-editor.js"></script>

  <div id="message"></div>

  <input id="compileAndDownload" type="button" class="btn btn-success" value="Compile And Flash"
  onclick="parse_code();" />
  
  <div class="loader" id="loader" style="display: none;"></div>

  <button class="btn btn-warning" onclick="saveWorkspace()" id="saveWorkspaceButton">Save Workspace</button>

  <button class="btn btn-warning" onclick="exportWorkspace()">Export Workspace</button>
  <button class="btn btn-warning" onclick="createProjectFromExample()" id="createFromExampleButton" style="display: none;">Project From Example</button>
  <label for="file-upload" class="custom-file-upload">
    Import Workspace
  </label>
  <input id="file-upload" type="file" onchange="importWorkspace()"/>
  <button class="btn btn-info" id="switchCode_button" onclick="switchCode();">Show Code</button>
  <a href="/" class="btn btn-success">Return Home</a>

</body>

</html>