<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/blocksEditor.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Block Module Editor</title>
<style type="text/css" media="screen">
  #editor { 
    height: 100%;
    width: 100%;
  }
  html, body
  {
    height: 100%;
    width: 100%;
  }
</style>
</head>
<body>
    <div>
        <h1>Categories Editor</h1>      
    </div>
    <div style="clear: both;"></div>

    <div style="display: block; height: 80%;">

    <div id="editor"></div>
    </div>
    <script src="/js/code-editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/yaml");
    </script>
    <script src="/js/categories-editor.js"></script>

    <div id="message"></div>

    <button class="btn btn-success" onclick="save()">Save</button>
    <a href="/" class="btn btn-danger">Return Home</a>
    <a href="/blocks_creator" class="btn btn-danger">Return To Blocks Editor Home</a>
</body>
</html>